<html>
    <header>
        <h1>
            <b>Adopt-A-Cat/Dog</b>
            <a href="pages/index">
                <img src="logo.jpeg" class="logo" alt="logo"><!--https://www.vecteezy.com/photo/22189658-simple-dog-logo-on-black-background-generative-ai-->
            </a>
        </h1>
        <div id="date"></div>
            <script>
                dateTime();
            </script>  
    </header>
</html>