<div class="side-menu">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/findcatdog">Find a cat/dog</a></li>
        <li><a href="/dogcare">Dog care</a></li>
        <li><a href="/catcare">Cat care</a></li>
        <li><a href="/givepet">Have a pet to give away</a></li>
        <li><a href="/sign">Sign up/Log in</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>