<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Find a cat/dog</title>
    <script src="scripts.js"></script>
</head>
<body>
    
    <%- include('../header') %>

    <div class="container">

        <%- include('../sidemenu') %>

        <div class="content">
            <h2>Find a cat/dog</h2>
            
            <form id="findAnimal" action="/search" method="POST">
                <label>Cat or Dog:</label>
                <select id="petType" name="petType">
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                </select>
            <br>
                <label>Breed:</label>
                <input type="text" name="breed1">
                <input type="checkbox" name="breed2" value="mixed breed">
                <label>Doesn't matter</label>
            <br>
                <label>Preferred Age:</label>
                <select id="age" name="age">
                    <option value="puppy/kitten">Puppy/Kitten</option>
                    <option value="adult">Adult</option>
                    <option value="senior">Senior</option>
                    <option value="doesn't matter">Doesn't matter</option>
                </select>
            <br>
                <label>Preferred Gender:</label>
                <input type="radio" name="gender" value="male">
                <label>Male</label>
                <input type="radio" name="gender" value="female">
                <label>Female</label>
                <input type="radio" name="gender" value="doesntMatter">
                <label>Doesn't matter</label>
            <br>
                <label>Compatibility:</label>
                <input type="checkbox" name="compatibility" value="other dogs">
                <label>Gets along with other dogs</label>
                <input type="checkbox" name="compatibility" value="other cats">
                <label>Gets along with other cats</label>
                <input type="checkbox" name="compatibility" value="small children">
                <label>Gets along with small children</label>
            <br>
                <button type="submit">Submit</button>
                <button type="reset">Clear</button>
            </form>
            <script>findAnimalRequest()</script>
        </div>
    </div>
    <%- include('../footer') %>
</body>
</html>
