<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Disclaimer</title>
    <script src="scripts.js"></script>
</head>
<body>
    <%- include('../header') %>
    <div class="container">
        
        <%- include('../sidemenu') %>

        <div class="content">
            <h2>Disclaimer page</h2>
            <p>At Adopt-a-Cat/Dog, we care about your privacy. We can garantee you your information will never be sold or misused.<br>
            Adopt-a-Cat/Dog is not responsible for incorrect information posted by other owners.</p>
        </div>
    </div>
    <%- include('../footer') %>
</body>
</html>
